In [ ]:
Ano = 2020 #Insira a informação de ano
Mês = 7 #Insira a informação de mês
Dia = 22 #Insira a informação de dia
Dia_da_Semana = 2 #Insira a informação do dia da semana (Segunda = 0; Terça = 1; Quarta = 2; Quinta = 3; Sexta = 4; Sábado = 5; Domingo = 6)
Hora = 18 #Insira a informação de minuto
Minuto = 30 #Insira a informação de minuto
Feriado = False #Insira a informação se é feriado(True) ou se não é(False)

# Aplicação do modelo

In [ ]:
import pandas as pd
import sklearn
from google.colab import drive
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_teste = pd.read_csv('drive/MyDrive/Colab Notebooks/Entrega Final/pred_data.csv')
del df_teste['Unnamed: 0']

In [ ]:
df_both = pd.DataFrame(data=df_teste)
y = df_both[['Total de Domicílios','Masculino','Feminino','AB','C1','C2','DE','4-11 anos','12-17 anos','18-24 anos','25-34 anos','35-49 anos','50-59 anos','60+ anos']]

In [ ]:
df_both.drop(['Total de Domicílios'], axis=1, inplace=True)
df_both.drop(['Masculino'], axis=1, inplace=True)
df_both.drop(['Feminino'], axis=1, inplace=True)
df_both.drop(['AB'], axis=1, inplace=True)
df_both.drop(['C1'], axis=1, inplace=True)
df_both.drop(['C2'], axis=1, inplace=True)
df_both.drop(['DE'], axis=1, inplace=True)
df_both.drop(['4-11 anos'], axis=1, inplace=True)
df_both.drop(['12-17 anos'], axis=1, inplace=True)
df_both.drop(['18-24 anos'], axis=1, inplace=True)
df_both.drop(['25-34 anos'], axis=1, inplace=True)
df_both.drop(['35-49 anos'], axis=1, inplace=True)
df_both.drop(['50-59 anos'], axis=1, inplace=True)
df_both.drop(['60+ anos'], axis=1, inplace=True)
df_both.drop(['Total de Indivíduos'], axis=1, inplace=True)
df_both.drop(['Masculino FID'], axis=1, inplace=True)
df_both.drop(['Feminino FID'], axis=1, inplace=True)
df_both.drop(['AB FID'], axis=1, inplace=True)
df_both.drop(['C1 FID'], axis=1, inplace=True)
df_both.drop(['C2 FID'], axis=1, inplace=True)
df_both.drop(['DE FID'], axis=1, inplace=True)
df_both.drop(['4-11 anos FID'], axis=1, inplace=True)
df_both.drop(['12-17 anos FID'], axis=1, inplace=True)
df_both.drop(['18-24 anos FID'], axis=1, inplace=True)
df_both.drop(['25-34 anos FID'], axis=1, inplace=True)
df_both.drop(['35-49 anos FID'], axis=1, inplace=True)
df_both.drop(['50-59 anos FID'], axis=1, inplace=True)
df_both.drop(['60+ anos FID'], axis=1, inplace=True)
df_both.drop(['Total de Domicílios SHR'], axis=1, inplace=True)
df_both.drop(['Masculino SHR'], axis=1, inplace=True)
df_both.drop(['Feminino SHR'], axis=1, inplace=True)
df_both.drop(['AB SHR'], axis=1, inplace=True)
df_both.drop(['C1 SHR'], axis=1, inplace=True)
df_both.drop(['C2 SHR'], axis=1, inplace=True)
df_both.drop(['DE SHR'], axis=1, inplace=True)
df_both.drop(['4-11 anos SHR'], axis=1, inplace=True)
df_both.drop(['12-17 anos SHR'], axis=1, inplace=True)
df_both.drop(['18-24 anos SHR'], axis=1, inplace=True)
df_both.drop(['25-34 anos SHR'], axis=1, inplace=True)
df_both.drop(['35-49 anos SHR'], axis=1, inplace=True)
df_both.drop(['50-59 anos SHR'], axis=1, inplace=True)
df_both.drop(['60+ anos SHR'], axis=1, inplace=True)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_both, y, test_size=0.00000001, shuffle=True)

In [ ]:
clf = KNeighborsRegressor(n_neighbors=2, p=2)
clf.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=2)

In [ ]:
hora_minuto = Hora + Minuto/60
data = [[Ano, Mês, Dia, Dia_da_Semana, Feriado, hora_minuto]]
infos = pd.DataFrame(data=data, columns=['Ano', 'Mês', 'Dia', 'Dia da Semana', 'Feriado', 'Hora e Minuto'])

In [ ]:
test_pred = clf.predict(infos)

In [ ]:
df_both2 = pd.DataFrame(data=df_teste)
y2 = df_both2[['Total de Indivíduos','Masculino FID','Feminino FID','AB FID','C1 FID','C2 FID','DE FID','4-11 anos FID','12-17 anos FID','18-24 anos FID','25-34 anos FID','35-49 anos FID','50-59 anos FID','60+ anos FID','Total de Domicílios SHR','Masculino SHR','Feminino SHR','AB SHR','C1 SHR','C2 SHR','DE SHR','4-11 anos SHR','12-17 anos SHR','18-24 anos SHR','25-34 anos SHR','35-49 anos SHR','50-59 anos SHR','60+ anos SHR']]

In [ ]:
df_both2.drop(['Total de Indivíduos'], axis=1, inplace=True)
df_both2.drop(['Masculino FID'], axis=1, inplace=True)
df_both2.drop(['Feminino FID'], axis=1, inplace=True)
df_both2.drop(['AB FID'], axis=1, inplace=True)
df_both2.drop(['C1 FID'], axis=1, inplace=True)
df_both2.drop(['C2 FID'], axis=1, inplace=True)
df_both2.drop(['DE FID'], axis=1, inplace=True)
df_both2.drop(['4-11 anos FID'], axis=1, inplace=True)
df_both2.drop(['12-17 anos FID'], axis=1, inplace=True)
df_both2.drop(['18-24 anos FID'], axis=1, inplace=True)
df_both2.drop(['25-34 anos FID'], axis=1, inplace=True)
df_both2.drop(['35-49 anos FID'], axis=1, inplace=True)
df_both2.drop(['50-59 anos FID'], axis=1, inplace=True)
df_both2.drop(['60+ anos FID'], axis=1, inplace=True)
df_both2.drop(['Total de Domicílios SHR'], axis=1, inplace=True)
df_both2.drop(['Masculino SHR'], axis=1, inplace=True)
df_both2.drop(['Feminino SHR'], axis=1, inplace=True)
df_both2.drop(['AB SHR'], axis=1, inplace=True)
df_both2.drop(['C1 SHR'], axis=1, inplace=True)
df_both2.drop(['C2 SHR'], axis=1, inplace=True)
df_both2.drop(['DE SHR'], axis=1, inplace=True)
df_both2.drop(['4-11 anos SHR'], axis=1, inplace=True)
df_both2.drop(['12-17 anos SHR'], axis=1, inplace=True)
df_both2.drop(['18-24 anos SHR'], axis=1, inplace=True)
df_both2.drop(['25-34 anos SHR'], axis=1, inplace=True)
df_both2.drop(['35-49 anos SHR'], axis=1, inplace=True)
df_both2.drop(['50-59 anos SHR'], axis=1, inplace=True)
df_both2.drop(['60+ anos SHR'], axis=1, inplace=True)

In [ ]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(df_both2, y2, test_size=0.0000001, shuffle=True)

In [ ]:
clf = KNeighborsRegressor(n_neighbors=2, p=2)
clf.fit(X_train2, y_train2)

KNeighborsRegressor(n_neighbors=2)

In [ ]:
data2 = [[Ano, Mês, Dia, Dia_da_Semana, test_pred[0][0], test_pred[0][1], test_pred[0][2], test_pred[0][3], test_pred[0][4], test_pred[0][5], test_pred[0][6], test_pred[0][7], test_pred[0][8], test_pred[0][9], test_pred[0][10], test_pred[0][11], test_pred[0][12], test_pred[0][13], Feriado, hora_minuto]]
infos2 = pd.DataFrame(data=data2, columns=['Ano', 'Mês', 'Dia', 'Dia da Semana', 'Total de Domicílios', 'Masculino', 'Feminino', 'AB', 'C1', 'C2', 'DE', '4-11 anos','12-17 anos', '18-24 anos', '25-34 anos', '35-49 anos', '50-59 anos','60+ anos', 'Feriado', 'Hora e Minuto'])

In [ ]:
test_pred2 = clf.predict(infos2)

In [ ]:
results = [[test_pred[0][0], test_pred[0][1], test_pred[0][2], test_pred[0][3], test_pred[0][4], test_pred[0][5], test_pred[0][6], test_pred[0][7], test_pred[0][8], test_pred[0][9], test_pred[0][10], test_pred[0][11], test_pred[0][12], test_pred[0][13], test_pred2[0][0],test_pred2[0][1],test_pred2[0][2],test_pred2[0][3],test_pred2[0][4],test_pred2[0][5],test_pred2[0][6],test_pred2[0][7],test_pred2[0][8],test_pred2[0][9],test_pred2[0][10],test_pred2[0][11],test_pred2[0][12],test_pred2[0][13],test_pred2[0][14],test_pred2[0][15],test_pred2[0][16],test_pred2[0][17],test_pred2[0][18],test_pred2[0][19],test_pred2[0][20],test_pred2[0][21],test_pred2[0][22],test_pred2[0][23],test_pred2[0][24],test_pred2[0][25],test_pred2[0][26],test_pred2[0][27]]]
result = pd.DataFrame(data=results, columns=['Total de Domicílios', 'Masculino', 'Feminino', 'AB', 'C1', 'C2', 'DE', '4-11 anos', '12-17 anos', '18-24 anos', '25-34 anos', '35-49 anos', '50-59 anos', '60+ anos', 'Total de Indivíduos','Masculino FID','Feminino FID','AB FID','C1 FID','C2 FID','DE FID','4-11 anos FID','12-17 anos FID','18-24 anos FID','25-34 anos FID','35-49 anos FID','50-59 anos FID','60+ anos FID','Total de Domicílios SHR','Masculino SHR','Feminino SHR','AB SHR','C1 SHR','C2 SHR','DE SHR','4-11 anos SHR','12-17 anos SHR','18-24 anos SHR','25-34 anos SHR','35-49 anos SHR','50-59 anos SHR','60+ anos SHR'])

# Resultados da predição

In [ ]:
result[['Total de Domicílios', 'Masculino', 'Feminino', 'AB', 'C1', 'C2', 'DE', '4-11 anos', '12-17 anos', '18-24 anos', '25-34 anos', '35-49 anos', '50-59 anos', '60+ anos']]

,Total de Domicílios,Masculino,Feminino,AB,C1,C2,DE,4-11 anos,12-17 anos,18-24 anos,25-34 anos,35-49 anos,50-59 anos,60+ anos
0,21.975,6.93,12.81,7.32,8.4,13.16,12.49,9.5,5.33,7.68,11.26,4.565,11.97,20.415

In [ ]:
result[['Total de Indivíduos','Masculino FID','Feminino FID','AB FID','C1 FID','C2 FID','DE FID','4-11 anos FID','12-17 anos FID','18-24 anos FID','25-34 anos FID','35-49 anos FID','50-59 anos FID','60+ anos FID']]

,Total de Indivíduos,Masculino FID,Feminino FID,AB FID,C1 FID,C2 FID,DE FID,4-11 anos FID,12-17 anos FID,18-24 anos FID,25-34 anos FID,35-49 anos FID,50-59 anos FID,60+ anos FID
0,94.985,92.96,95.985,95.935,100.0,91.1,96.745,100.0,84.08,95.535,95.785,88.495,98.12,96.2

In [ ]:
result[['Total de Domicílios SHR','Masculino SHR','Feminino SHR','AB SHR','C1 SHR','C2 SHR','DE SHR','4-11 anos SHR','12-17 anos SHR','18-24 anos SHR','25-34 anos SHR','35-49 anos SHR','50-59 anos SHR','60+ anos SHR']]

,Total de Domicílios SHR,Masculino SHR,Feminino SHR,AB SHR,C1 SHR,C2 SHR,DE SHR,4-11 anos SHR,12-17 anos SHR,18-24 anos SHR,25-34 anos SHR,35-49 anos SHR,50-59 anos SHR,60+ anos SHR
0,39.42,31.18,45.47,37.505,36.365,45.755,36.555,52.83,24.68,72.08,42.95,22.715,37.335,44.855